@*@model ProjectMohan.ViewModel.Nouvelles.CreateEditeNouvelleViewModel

    @{
        ViewData["Title"] = "View";
    }

    <h1>View</h1>

    <h4>Crée une nouvelles</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="@Model.Action">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titre" class="control-label"></label>
                    <input asp-for="Titre" class="form-control" />
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <textarea asp-for="Text"  TextMode="multiline" rows="50" class="form-control"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

@{
    Layout = null;
}

<meta name="viewport" content="width=device-width" />
<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }
</style>
@using (Html.BeginForm("ViewPDF", "Home", FormMethod.Post))
{
    <a href="javascript:;" onclick="document.forms[0].submit();">View PDF</a>
    <hr />
    @Html.Raw(TempData["Embed"])
}